#sample
#apache-airflow
#pickle5
pandas
urllib3
sqlalchemy
scipy
numpy
typing
py-postgresql
h3
geopandas
shapely
geoalchemy2
uuid
#GDAL
psycopg2-binary
awscli==1.20.29
pickle4
fiona
s3fs
awswrangler
dask
pendulum
sqlalchemy
#JayDeBeApi
apache-airflow-providers-google
apache-airflow-providers-amazon
#dbt
#dbt-redshift
#airflow-dbt
#cryptography == 3.4.7
